### 練習時間

在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {"國家":["USA","TW","CHA","KOR"]}
data = pd.DataFrame(data)

In [3]:
data["人口"] = np.random.randint(1000000, 1000000000, data.shape[0])
data

    國家         人口
0  USA  865431840
1   TW  562520320
2  CHA  214641412
3  KOR  934497928

In [5]:
data = data.loc[data["人口"].idxmax()]
data

國家          KOR
人口    934497928
Name: 3, dtype: object